<div class="container">
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CoolLab</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    
    <div class="row">
        <div class="col-lg-4">
            <p>An example</p><%= link_to 'Google', 'http://www.google.com', class: 'btn btn-primary' %>
        </div>
        
        <div class="col-lg-4">
            <p>Something else</p><%= link_to 'Facebook', 'http://facebook.com', class: 'btn btn-primary' %>
        </div>
        
        <div class="col-lg-4">
            <p>Let's try out some really long</p><%= link_to 'text', 'http://learn.co', class: 'btn btn-primary' %>
        </div>        
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <p>An example</p><%= link_to 'Google', 'http://www.google.com', class: 'btn btn-primary' %>
        </div>
        
        <div class="col-lg-4">
            <p>Something else</p><%= link_to 'Facebook', 'http://facebook.com', class: 'btn btn-primary' %>
        </div>
        
        <div class="col-lg-4">
            <p>Let's try out some really long</p><%= link_to 'text', 'http://learn.co', class: 'btn btn-small btn-primary' %>
        </div>       
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <p>An example</p><%= link_to 'Google', 'http://www.google.com', class: 'btn btn-primary btn-large' %>
        </div>
        
        <div class="col-lg-4">
            <p>Something else</p><%= link_to 'Facebook', 'http://facebook.com', class: 'btn btn-primary' %>
        </div>
        
        <div class="col-lg-4">
            <p>Let's try out some really long</p><%= link_to 'text', 'http://learn.co', class: 'btn btn-primary' %>
        </div>        
    </div>    
</div>