<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSuportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
      <div class="col-lg-4">
        <p>Lorem ipsum textum</p>
        <%= button_tag "Submit", class: "btn btn-success"%>
      </div>
    </div>
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
