<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </div>
</body>
</html>
