<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">

    <ul class="nav navbar-nav" float>
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("About", root_path) %></li>
      <li><%= link_to("Contact", root_path) %></li>
    </ul>



      <div class="row">

        <div class="col-lg-4">
          <p>column 1</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

        <div class="col-lg-4">
          <p>column 2</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

        <div class="col-lg-4">
          <p>column 3</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-4">
          <p>column 1</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

        <div class="col-lg-4">
          <p>column 2</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

        <div class="col-lg-4">
          <p>column 3</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-4">
          <p>column 1</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

        <div class="col-lg-4">
          <p>column 2</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

        <div class="col-lg-4">
          <p>column 3</p>
          <button type="button" class="btn btn-primary">button</button>
        </div>

      </div>

    </div>

  <%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
